.inline-title {
  font-family: 'Montserrat Alternates' !important;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #a1a0a0;
  padding-bottom: 0.1em;
  margin-bottom: 1.1em;
}

.markdown-preview-view h2,
.HyperMD-header.HyperMD-header-2.cm-line,
.el-h2 {
  color: #64B5F6;
  margin-bottom: 0;
}

.markdown-preview-view h3 {
  color: #BBDEFB;
  margin-top: 1.5em !important;
  margin-bottom: 0.1em !important;
  font-weight: bolder !important;
  text-align: left;
}
